<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MegaMek multi-server admin</title>
    <link rel="stylesheet" href="./static/pico.classless.min.css">
    <script async type="module">
        import { afterLoad, stateEl, updateStateEl } from './static/utils.mjs';
        import { ServerComs } from './static/coms.mjs';
        const coms = new ServerComs()
        let maxServers = null;
        let serverIds = new Set()

        afterLoad(() => {
            for (const server of document.querySelectorAll('[data-create]')) {
                const name = server.getAttribute('data-create')
                server.addEventListener('click', () => {
                    coms.create(name)
                })
            }

            document.getElementById("stop-all").addEventListener('click', () => {
                for (const server of serverIds) {
                    coms.destroy(server)
                }
            })
        })

        coms.addEventListener({
            configChanged({ max_servers }) {
                maxServers = max_servers
                updateUsedServers()
            },
            serversSet(servers) {
                serverIds = new Set(servers.map(info => info.id))
                updateUsedServers();
                for (const info of servers) {
                    addRow({
                        ...info,
                        host: window.location.hostname,
                    })
                }
            },
            serverAdded(info) {
                serverIds.add(info.id)
                updateUsedServers()
                addRow({
                    ...info,
                    host: window.location.hostname,
                })

            },
            serverStateChanged(id, new_state) {
                const state = document.getElementById(id).querySelector('.state')
                updateStateEl(state, new_state)
            },
            serverRemoved(id) {
                serverIds.delete(id)
                updateUsedServers()
                document.getElementById(id).remove()
            },
            error(error) {
                console.error(error);
                document.getElementById("error").textContent = error.message;
            }
        })

        function addRow({ creator, creation_timestamp, config_name, mm_version, host, port, id, state }) {
            const destroy = document.createElement("button");
            destroy.append("Para el servidor")
            destroy.addEventListener("click", () => coms.destroy(id))


            const tr = document.createElement('tr')
            tr.id = id
            tr.append(
                td(creator),
                td(creation_timestamp),
                td(config_name),
                td(mm_version),
                td(host),
                td(port),
                td(id),
                td(stateEl(state)),
                destroy,
            );
            document.querySelector('tbody').prepend(tr)
        }
        function td(...contents) {
            const el = document.createElement('td')
            el.append(...contents)
            return el
        }

        function updateUsedServers() {
            const btns = document.querySelectorAll('[data-create]')
            if (maxServers !== null && serverIds.size >= maxServers) {
                for (const btn of btns) {
                    btn.setAttribute("disabled", "disabled")
                }
            } else {
                for (const btn of btns) {
                    btn.removeAttribute("disabled")
                }
            }

            const stopAll = document.getElementById('stop-all')
            console.log({serverIds})
            if (serverIds.size > 0) {
                stopAll.removeAttribute("disabled")
            } else {
                stopAll.setAttribute("disabled", "disabled")
            }
        }
    </script>
    <style>
        #error { color: var(--pico-del-color) }
        #error:empty { display: none }
        #stop-all:disabled { display: none }
        .state { border: none !important }
    </style>
</head>
<body>
    <header>
        <div class="logout">Connectat com a <code>{{name}}</code> <a href="/logout">Desconnecta'm</a></div>
        <input type="hidden" id="username" value="{{name}}" />
    </header>
    <main>
        <div>
            {% for name in config_options %}
                <button data-create="{{ name }}">Crea servidor: {{ name }}</button>
            {% endfor %}
        </div>
        <section id="error"></section>
        <table>
            <thead>
                <tr>
                    <th scope="col">Creador</th>
                    <th scope="col">Temps de creació</th>
                    <th scope="col">Configuració</th>
                    <th scope="col">Versió</th>
                    <th scope="col">Host</th>
                    <th scope="col">Port</th>
                    <th scope="col">ID</th>
                    <th scope="col">Estat</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>

            </tbody>
        </table>
        <div><button id="stop-all" disabled>Para tots els servidors</button></div>
    </main>
</body>
</html>
