<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MegaMek multi-server admin</title>
    <link rel="stylesheet" href="./static/pico.classless.min.css">
    <script async type="module">
        import { afterLoad } from './static/utils.mjs';
        import { ServerComs } from './static/coms.mjs';

        afterLoad(() => {
            const username = document.getElementById("username").value

            for (const server of document.querySelectorAll('[data-create]')) {
                const name = server.getAttribute('data-create')
                server.addEventListener('click', () => {
                    coms.create(name)
                })
            }
            const coms = new ServerComs()
            coms.addEventListener({
                serversSet(servers) {
                    for (const info of servers) {
                        this.serverAdded(info)
                    }
                },
                serverAdded(info) {
                    if (info.creator !== username) {
                        console.error("Rejecting", info)
                        return
                    }
                    addRow({
                        ...info,
                        host: window.location.hostname,
                    })
    
                },
                serverStateChanged(id, new_state) {
                    const card = document.getElementById(id);
                    if (!card) {
                        return
                    }
                    const state = card.querySelector('.state')
                    state.textContent = stateString(new_state)
                },
                serverRemoved(id) {
                    const card = document.getElementById(id);
                    if (!card) {
                        return
                    }
                    card.remove()
                },
            })

            function addRow({ config_name, host, port, state, id }) {
                const stateEmoji = stateString(state)
                const stateEl = span(stateEmoji)
                stateEl.classList.add("state")
                
                const destroy = document.createElement("button");
                destroy.append("Para el servidor")
                destroy.addEventListener("click", () => coms.destroy(id))

                const el = document.createElement('article')
                el.id = id
                el.append(
                    div(`Name: ${config_name}`),
                    div(`Host: ${host}`),
                    div(`Port: ${port}`),
                    div("State: ", stateEl),
                    destroy,
                )
                document.getElementById("running").append(el)
            }
            function div(...contents) {
                const el = document.createElement('div')
                el.append(...contents)
                return el
            }
            function span(...contents) {
                const el = document.createElement('span')
                el.append(...contents)
                return el
            }

            function stateString(state) {
                if (state === "running") {
                    return "👍"
                } else if (state === "dead") {
                    return "💀"
                } else if (state === "zombie") {
                    return "🧟"
                } else {
                    return "⏳"
                }
            }
        })
    </script>
    <style>
        #running:not(:empty) ~ section { display: none }
    </style>
</head>
<body>
    <header>
        <div class="logout">Connectat com {{name}}. <a href="/logout">Desconnecta'm</a></div>
        <input type="hidden" id="username" value="{{name}}" />
    </header>
    <main>
        <section id="running"></section>
        <section>
            {% for name in config_options %}
                <button data-create="{{ name }}">Crea servidor: {{ name }}</button>
            {% endfor %}
        </section>
    </main>
</body>
</html>
