<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicia sessió al MegaMek multi-server</title>
    <link rel="stylesheet" href="./static/pico.classless.min.css">
    <style>
        .error {
            font-size: smaller;
            color: var(--pico-form-element-invalid-border-color);
        }
        .error:empty { display: none; }
    </style>
</head>
<body>
    <main>
        <article>
            <form action='{{ action }}' method='POST'>
                <input type='text' name='username' placeholder='Usuari' required />
                <input type='password' name='password' placeholder='Contrasenya' required />
                <input type='submit' name='submit' value="Inicia sessió" />
                <span class="error">{{ error or '' }}</span>
            </form>
        </article>
    </main>
</body>
</html>
